{% extends 'home/layout.html' %}

{% block title %} Inicio - Blog sobre Cafe de Especialidad {% endblock %}

{% block content %}

    <p>Blog que habla temas relacionados al Cafe como <strong class="key-concept"> Tipos de Cafe </strong> que <br>
        existen, como se <strong class="key-concept"> prepara </strong>  un buen <strong class="key-concept"> Cafe de Especialidad </strong>, <br>
        los <strong class="key-concept"> Granos de Cafe </strong> para hacer cafe de especialidad, etc.
    </p>

    <button> <a href="{% url 'blog:create_blog' %}"> CREAR BLOG </a> </button>
    <button> <a href="{% url 'category:create_category' %}"> CREAR CATEGORIA </a> </button>

{% endblock %}