<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Blog sobre el Cafe de Especialidad {% endblock %}</title>
</head>
<body>
    <!-- Header with Name and Description about the Page -->
    <header>
        {% include '_includes/header.html' %}
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- Navegation and Content about theme's of the Coffee -->
    <section>
        {% block blog %}{% endblock %}
    </section>

    <!-- Form to suscribe Blog and Copyright Section -->
    <footer>
        {% include 'home/form.html' %}
        {% include '_includes/footer.html' %}
    </footer>
</body>
</html>