{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Akronim&family=GFS+Didot&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'home/css/style.css' %}">

{% block content %}

    <h3>¿Quieres Eliminar el Blog? {{blog.name}} </h3>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <button> ELIMINAR BLOG </button>
    </form>

{% endblock %}