body {
    background-color: #272727;
    color: white;
    font-family: Afacad;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 100px 0px 0px 0px;
}

main {
    padding-top: 10px;
    padding-bottom: 200px;
}

button {
    background-color: #2F241B;
    border: none;
    color: white;
    font-family: Afacad;
    padding: 7px;
}

button:hover {
    background-color: #1f1812;
}

button:active {
    background-color: #1a140f;
}

a {
    color: white;
    text-decoration: none;
}

.content-blog {
    padding: 7px;
}

.blog {
    background-color: #7C5C40;
    margin-top: 5px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 18px;
    width: 330px;
    height: 450px;
    text-align: left;
}

.detail-blog {
    width: 430px;
    height: 550px;
}

.key-concept {
    color: #7C5C40;
}

footer {
    background-color: #7C5C40;
    margin-top: 100px;
    padding-top: 6px;
    padding-bottom: 6px;
}